<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0 ,maximum-scale=1.0"
/>
<meta name="theme-color" content="#151515" />
{{#if isHome}}
<title>株式会社フォームアンドクラフト | form and craft Inc.</title>
{{else}}
<title>{{title}} | 株式会社フォームアンドクラフト</title>
{{/if}}

<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="https://www.formandcraft.jp/assets/images/common/apple-touch-icon.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="https://www.formandcraft.jp/assets/images/common/favicon-32x32.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="https://www.formandcraft.jp/assets/images/common/favicon-16x16.png"
/>
<link
  rel="shortcut icon"
  href="https://www.formandcraft.jp/assets/images/common/favicon.ico"
/>
<link rel="manifest" href="" />
<link rel="mask-icon" href="" color="#000000" />
<meta name="msapplication-TileColor" content="#f5f5f5" />
<meta name="theme-color" content="#ffffff" />

<meta
  name="description"
  content="デザインを通じて、ブランドに貢献すること。そして、お客さまとともにつくり、喜ぶこと。フォームアンドクラフトは、CI・VIの構築から、ウェブサイト、グラフィック、コピー、ビジュアル、ムービーまで、ビジョンを統合的に表現するトータルデザインパートナーです。"
/>
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.formandcraft.jp/" />
<meta
  property="og:image"
  content="https://www.formandcraft.jp/assets/images/common/ogp.png"
/>

<meta property="twitter:card" content="summary_large_image" />
<meta
  property="twitter:title"
  content="株式会社フォームアンドクラフト | form and craft Inc."
/>
<meta
  property="twitter:description"
  content="デザインを通じて、ブランドに貢献すること。そして、お客さまとともにつくり、喜ぶこと。フォームアンドクラフトは、CI・VIの構築から、ウェブサイト、グラフィック、コピー、ビジュアル、ムービーまで、ビジョンを統合的に表現するトータルデザインパートナーです。"
/>
<meta
  property="twitter:image:src"
  content="https://www.formandcraft.jp/assets/images/common/ogp.png"
/>
<meta property="twitter:image:type" content="image/png" />
<meta name="format-detection" content="telephone=no" />
